# Settings for VSCode
.vscode

# Directory of snakemake utils
.snakemake/

# Files declaring the end of some rules
/resources/

# Temporary files in the results folder
/results

# Results
2024*/

# R Stuff
.Rhistory
.RData