# Settings for VSCode
.vscode

# Directory of snakemake utils
.snakemake/

# Files declaring the end of some rules
/resources/

# Temporary files in the results folder
/results

# Results
/20240902_162657_pipeline_fastq_RNAseq_TEST